p, h2, li {
    text-align: center;
}
h2 {
    font-size: 40px;
}
li, input {
    font-size: 20px;
}
img {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid black;
}
button {
    color: black;
    text-align: center;
    padding: 2px 6px 2px 6px;
    font-size: 17px;
}
#particles-js {
    background: black;
    height: 100vh;
}
.red{
    color: red;
}
.image_division{
    display: none;
}
body
{
    margin: 0;
    /*height:100vh;*/
}
#particles-js{
    /*height:100vh;*/
    overflow-y: hidden;
    background: steelblue;
}
h1{
    margin: 0;
}