<!DOCTYPE html>
<html lang="en">
<head>
    <title>Flask Demo</title>
    <meta charset="UTF-8">
    <title>Display</title>
    <link rel="stylesheet" href="/static/styles.css">
</head>
<body>
    <h2>Display route</h2>
    <p>
	{% with messages = get_flashed_messages() %}
	  {% if messages %}
		<ul>
		{% for message in messages %}
		  <li>{{ message }}</li>
		{% endfor %}
		</ul>
	  {% endif %}
	{% endwith %}
</p>
    <img src="{{ url_for('static', filename='display/'+filename) }}">
</body>
</html>