<!doctype html>
<head>
    <title>Flask Demo</title>
    <link rel="stylesheet" href="/static/styles.css">
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
</head>
<body>
    <div id="particles-js">
        <h1 style="color: white; text-align: center; padding-top: 50px">Upload Image to detect face</h1>
        <form enctype="multipart/form-data">
            <dl>
                <p style="padding-top: 20px">
                    <input style="color: white" type="file" id='file' name="file" autocomplete="off" required>
                    <button style="color: black;" id='submit_btn' value="Submit">Submit</button>
                </p>
            </dl>
        </form>
        <div class="image_division">
            <img class="display_image">
        </div>
    </div>
    <script type="text/javascript" src="../static/particles.js"></script>
    <script type="text/javascript" src="../static/app.js"></script>
{#<p class="red">#}
{#    {% with messages = get_flashed_messages() %}#}
{#        {% if messages %}#}
{#            <ul>#}
{#                {% for message in messages %}#}
{#                    <li class="red">{{ message }}</li>#}
{#                {% endfor %}#}
{#            </ul>#}
{#        {% endif %}#}
{#    {% endwith %}#}
{#</p>#}
<script>
    $(document).ready(function () {
        $('#submit_btn').click(function (e) {
            e.preventDefault();
            e.stopPropagation();
            console.log("clicked")
            var formData = new FormData();
            formData.append('file', $('#file')[0].files[0]);

             $.ajax({
                url: '/image_upload',
                type: 'POST',
                data: formData,
                processData: false,  // tell jQuery not to process the data
                contentType: false,  // tell jQuery not to set contentType
                success: function (data) {
                    console.log(data);
                    alert(data["data"]);
                    if (data["data"] == "success") {
                        $('.image_division').show()
                        if (data['faces']==0) {
                            $("img").attr('src', '/static/display/Stop.png')
                        }else {
                        $("img").attr('src', '/static/display/'+data["name"]+'_cropped.jpg')
                        }
                    }
                }
            });
        })
    })
</script>
</body>
